<div class="content-container">
  <h1>About The Developer</h1>

  <p>
    Hi! My name is Tim Williamson.
  </p>

  <p>I am currently working as a Full Stack Web Developer.</p>
  <p>The technologies I currently use are Typescript with Angular for frontend and Java with Springboot for backend, though I believe that a good developer should be able to use any technology. </p>
  <p>Other languages I have used include: </p>
  <ul>
    <li>Ruby (+ rails)</li>
    <li>Python</li>
    <li>C++</li>
    <li>Visual Basic (+ .net)</li>
    <li>Plain Old Javascript (+ node, express)</li>
    <li>SQL (PostGres)</li>
    <li>HTML + CSS</li>
  </ul>
</div>
