<div class="content-container">
  <h1>About The Developer</h1>

  <p>
    Hi! My name is Tim Williamson.
  </p>

  <p>I am a Full Stack Web Developer, with over 3 years of experience.</p>

  <h2>Frontend</h2>
  <p>I have used Angular to build highly modular and componentised frontend applications,
    that are intuitive, responsive and highly accessible.</p>
  <p>I believe in using good semantic html, to help build webpages that are intelligible to developers
    as well as being styling and being accessible for users with disabilities.</p>

  <h2>Backend</h2>
  <p>I have built RESTful services in Spring Boot, Node and Sinatra. I am used to building services as part of a
    microservice architechture, and integrating with APIs and databases.</p>
  <p>I have deployed work through CICD pipelines onto docker images, using Jenkins, Kubernates and Openshift.
    I have also deployed services onto AWS EC2 instances using AWS's CodeBuild and CodePipeline.</p>

  <h2>Productivity and code quality</h2>
  <p>I am passionate about building exceptional quality code. I use Test Driven Development with unit and integration tests.
    The majority of my experience has been using object oriented design principles, building small but extensible classes
    each with a single responsibility. I use git to collaborate effectively with co-workers, utilising code reviews and pair programming.</p>

  <h2>Other interests</h2>
  <p>I have a keen interest in Artificial Intelligence, and the use of it to improve society.</p>
  <!-- <p>The technologies I currently use are Typescript with Angular for frontend and Java with Springboot for backend, though I believe that a good developer should be able to use any technology. </p>
  <p>Other languages I have used include: </p>
  <ul>
    <li>Ruby (+ rails)</li>
    <li>Python</li>
    <li>C++</li>
    <li>Visual Basic (+ .net)</li>
    <li>Plain Old Javascript (+ node, express)</li>
    <li>SQL (PostGres)</li>
    <li>HTML + CSS</li>
  </ul> -->
</div>
