<div class="content-container">
  <h1>About The Developer</h1>

  <p>
    Hi! My name is Tim Williamson.
  </p>

  <p>I am a software engineer with a passion for AI and Robotics.</p>
  <p>I am currently working as a backend engineer in the energy sector, but I aim to move into working in AI full time.</p>
  <p>I recently completed a masters degree in AI at the University of Bath (while continuing to work full time).</p>

  <p>I have experience with a range of technologies including: </p>
  <ul>
    <li>Python (with numpy, scikit learn, tensorflow/keras & pytorch)</li>
    <li>Typescript (with modern FE and BE frameworks including Express, Angular and React)</li>
    <li>Scala</li>
    <li>C++</li>
    <li>Ruby (+ rails)</li>
    <li>Visual Basic (+ .net)</li>
    <li>Plain Old Javascript</li>
    <li>SQL (PostGres)</li>
    <li>HTML + CSS</li>
    <li>Docker & Kubernetes</li>
  </ul>
</div>
