.list-item-container {
  display: flex;
  padding-bottom: 3cqi;
}

.reverse {
  flex-direction: row-reverse;
}

@media only screen and (max-width: 900px) {
  .list-item-container {
    flex-direction: column;
  }
}

.image {
  flex: initial;
  min-width: 336px;
  min-height: 336px;
}

.text-container {
  flex: auto
}

.spacer {
  min-width: 2em;
  flex: initial
}