@import '~@angular/material/theming';

@include mat-core();

$game-primary: mat-palette($mat-blue);
$game-accent: mat-palette($mat-pink);

$game-theme: mat-dark-theme($game-primary, $game-accent);

@include angular-material-theme($game-theme);