<div class="mat-app-background full-page" [class]="theme">
  <mat-toolbar data-qa="main-menu" color="primary">
    <mat-icon class="robot-icon" [class]="iconOptions" svgIcon="robot" [inline]="true"></mat-icon>
    <div data-qa="title" class="title">
      Welcome to {{ title }}!
    </div>

    <div class="navigation-buttons">
      <!-- <button class="header-button" data-qa="games-header-button" (click)="navigateTo('games')">Games</button> -->
      <button class="header-button" data-qa="blog-header-button" (click)="navigateTo('blog')">Blog</button>
      <button class="header-button" data-qa="about-header-button" (click)="navigateTo('about')">About</button>
      <div class="header-padding"></div>
      <button class="header-button" (click)="toggleTheme()"><mat-icon>dark_mode</mat-icon></button>
    </div>
  </mat-toolbar>

  <router-outlet></router-outlet>
</div>
