.navigation-buttons {
    padding: 10px;
    display: flex;
    width: 100%;
}

.title {
    font-size: 24px;
}

.robot-icon {
    width: 100px !important;
    height: 100px !important;
    transform: scale(0.5);
    flex-grow: 0;
    flex-shrink: 0;
}

.header-button {
    padding: 10px;
    color: white;
    font-size: 24px;
    border: none;
    background: none;
}

.header-padding {
    flex-grow: 1;
}

.full-page {
    height: 100%;
}
