<button data-qa="cancel" class="ui-button" (click)="closeBlog()">cancel</button>
<app-upload></app-upload>
<form [formGroup]="form">
    <textarea class="large-text-area" formControlName="body"></textarea>
    <div class="flex-container">
        <div class="flex-item">
            <div class="label-container"><label for="tags">Add tags (comma separated)</label></div>
            <input id="tags" formControlName="tags"/>
        </div>
        <button data-qa="create-blog" class="ui-button" (click)="postBlog()">Post Blog</button>
    </div>
</form>
<h4>Preview:</h4>
<app-blog data-qa="preview" [blog]="previewBlog"></app-blog>