/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
// @use '@angular/material/theming';
@import 'scss/typography';
@import 'scss/buttons';
@import 'scss/inputs';

@include mat.core();

$game-primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$game-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
$game-warn: mat.m2-define-palette(mat.$m2-red-palette);

$game-theme: mat.m2-define-dark-theme($game-primary, $game-accent, $game-warn);

$light-primary: mat.m2-define-palette(mat.$m2-light-blue-palette);
$light-accent: mat.m2-define-palette(mat.$m2-green-palette);
$light-warn: mat.m2-define-palette(mat.$m2-red-palette);

$light-theme: mat.m2-define-light-theme($light-primary, $light-accent, $light-warn);

@include mat.core-theme($game-theme);
@include mat.all-component-themes($game-theme);


html, body { height: 100%; }
body {
    margin: 0;
}

.content-container {
    margin: 0 20%;
}

.light-robot-theme {
    @include mat.core-theme($light-theme);
    @include mat.all-component-themes($light-theme);
}

.hide-eye svg g#eye-stalk {
    display: none;
}

.hide-arm svg g#arm {
    display: none;
}

// @mixin theme-color-grabber($theme) {
//     // Parse the theme and create variables for each color in the pallete
//     $primary: map-get($theme, primary);
//     $accent: map-get($theme, accent);
//     $warn: map-get($theme, warn);
//     // Create theme specfic styles
//     .primaryColorBG {
//       background-color: mat-color($primary);
//     }
//     .accentColorBG {
//       background-color: mat-color($accent);
//     }
//     .warnColorBG {
//       background-color: mat-color($warn);
//     }
//   }

// @mixin theme($property: null, $key: null) {
//     & {
//       #{$property}: mat-color(map_get($game-theme, $key));
//     }
  
//     .light-robot-theme & {
//       #{$property}: mat-color(map_get($light-theme, $key));
//     }
// }