<div class="content-container">
    <ng-container *ngIf="!creatingBlog">
        <h1>Recent Blogs</h1>
        <button data-qa="create-blog-button" class="ui-button" *ngIf="loggedIn" (click)="newBlog()">Write new blog</button>
        <div data-qa="blogs" class="blogs"> 
            <div *ngFor="let blog of blogs" class="blog">
                <app-preview data-qa="blog-preview" url="/blogs" [blog]="blog"></app-preview>
            </div>
        </div>
    </ng-container>
    <app-create-blog *ngIf="creatingBlog" data-qa="create-blog" (closeComponent)="stopCreatingBlog()" (createBlog)="uploadBlog($event)"></app-create-blog>
</div>
