<div class="content-container">
    <ng-container *ngIf="!creatingBlog">
        <h1>Recent Blogs</h1>
        <button data-qa="create-blog-button" *ngIf="loggedIn" (click)="newBlog()">Write new blog</button>
        <div data-qa="blogs"> 
            <div *ngFor="let blog of blogs" class="blog">
                <app-blog data-qa="blog" [blog]="blog"></app-blog>
            </div>
        </div>
    </ng-container>
    <app-create-blog *ngIf="creatingBlog" data-qa="create-blog" (closeComponent)="stopCreatingBlog()"></app-create-blog>
</div>
